<%= form_with(model: albun) do |form| %>
  <% if albun.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(albun.errors.count, "error") %> prohibited this albun from being saved:</h2>

      <ul>
        <% albun.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :artist, style: "display: block" %>
    <%= form.text_field :artist %>
  </div>

  <div>
    <%= form.label :AlbumName, style: "display: block" %>
    <%= form.text_field :AlbumName %>
  </div>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
